////
/// Display.
///
/// @group  Utilities
/// @author John Leskas <john.leskas@gmail.com>
/// @link   https://johnleskas.com
////

.u-hidden {
  display: none !important;
}

.u-d-flex {
  display: flex;
}

.u-hide--phablet {
  display: none !important;

  @include mq($from: phablet) {
    display: inherit !important;
  }
}


.u-show--phablet {
  display: inherit !important;

  @include mq($from: phablet) {
    display: none !important;
  }
}

.u-hide--tablet {
  display: none !important;

  @include mq($from: tablet) {
    display: inherit !important;
  }
}


.u-hide--desktop {
  @include mq($from: desktop) {
    display: none !important;
  }
}


.u-show--tablet {
  display: inherit !important;

  @include mq($from: tablet) {
    display: none !important;
  }
}

.u-show--desktop {
  display: none !important;

  @include mq($from: desktop) {
    display: block !important;
  }
}


.u-full-width {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
}


.u-o-0 {
  opacity: 0;
}


.u-o-1 {
  opacity: 1;
}


.u-cursor-pointer {
  cursor: pointer;
}


.u-zi-2 {
  z-index: 100 !important;
}

.u-zi-100 {
  z-index: 100 !important;
}
