////
/// Size.
///
/// @group  Utilities
/// @author John Leskas <john.leskas@gmail.com>
/// @link   https://johnleskas.com
////

/* Width Utilities */
.u-min-w0 {
  min-width: 0;
}

/* Height Utilities */
.u-min-h0 {
  min-height: 0;
}

/* Width Utilities */
.u-max-w0 {
  max-width: 0;
}

/* Height Utilities */
.u-max-h0 {
  max-height: 0;
}

.u-fullwidth {
  width: 100%;
}

.u-h100 {
  height: 100%;
}

.u-w100 {
  width: 100%;
}
