////
/// Wrapper object.
///
/// @group  Objects
/// @author John Leskas <john.leskas@gmail.com>
/// @link   https://johnleskas.com
////
.o-wrapper {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  overflow: visible;
}
