////
/// Video Container object.
///
/// @group  Objects
/// @author John Leskas <john.leskas@gmail.com>
/// @link   https://johnleskas.com
////
.o-video-container {
  overflow: hidden;
  position: relative;
  width: 100%;

  &::after {
    padding-top: 56.25%;
    display: block;
    content: "";
  }

  img,
  video,
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}



